<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LJW_Blog_demo</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/ljw/blog/css/base.css">
    <link rel="stylesheet" type="text/css" href="/ljw/blog/css/index.css">
    <!--<script th:src="@{/blog/js/jquery.min.js}"></script>-->
</head>
<body>
<script type="text/javascript">
</script>
<header>
</header>
<article>

    <div th:fragment="style1"  class="blogsbox">
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
        <h3 class="blogtitle"><a href="#" id="titlename1" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
        <span class="bplist">
                <a href="/" title="">
              <li><img id="pic1" src="images/avatar.jpg" alt=""></li>
              <li><img id="pic2" src="images/bi05.jpg" alt=""></li>
              <li><img id="pic3" src="images/banner01.jpg" alt=""></li>
              </a></span>
        <div th:insert="/blog/predisplay :: brief_intro"></div>
        <div th:insert="/blog/predisplay :: info"></div>

    </div>
    </div>

    <div th:fragment="style2"  class="blogsbox">
        <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
            <h3 class="blogtitle"><a href="#" id="titlename2" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
            <span class="blogpic"><a href="/" title=""><img id="pic4" src="images/toppic01.jpg" alt=""></a></span>
            <div th:insert="/blog/predisplay :: brief_intro"></div>
            <div th:insert="/blog/predisplay :: info"></div>
        </div>
    </div>



    <div th:fragment="style3"  class="blogsbox">
        <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
            <h3 class="blogtitle"><a href="#" id="titlename3" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
            <div th:insert="/blog/predisplay :: brief_intro"></div>
            <div th:insert="/blog/predisplay :: info"></div>
            </div>
        </div>
    </div>


    <div hidden="true">
        <p class="blogtext" th:fragment="brief_intro" id="brief_intro"  >简介</p>
    </div>
    <div hidden="true">
    <div th:fragment="info" class="bloginfo">
        <ul>
            <li id="lmname" class="lmname"><a href="/">-</a></li>
            <li id="timer" class="timer">2018-5-13</li>
            <li id="view" class="view"><span>34567</span>已阅读</li>
            <li id="like" class="like">9999</li>
        </ul>
    </div>
</div>


</article>


</body>
</html>
