<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
</head>
<body>
HELLOW！
<!--
<p th:text="${msg}">
<p th:text="${student1.sName}">
111
</p>


<div th:object="${student2}">
    <p>学生编号:<span th:text="*{sId}"></span></p>
    <p>学生名字:<span th:text="*{sName}"></span></p>
</div>
<table>
<tr>
    <th>序号</th>
    <th>学号</th>
    <th>姓名</th>
</tr>
&lt;!&ndash;<tr th:each="student,interStat:${students}">
    <td th:text="${interStat.index}"></td>
    <td th:text="${student.sId}"></td>
    <td th:text="${student.sName}"></td>
</tr>&ndash;&gt;
    <tr th:each="student:${students}">
        <td th:text="${studentStat.index}"></td>&lt;!&ndash; 可不行迭代变量 默认加Stat&ndash;&gt;
        <td th:text="${student.sId}"></td>
        <td th:text="${student.sName}"></td>
    </tr>
</table>
-->



</body>
</html>